* {
    box-sizing: border-box;
  }
  
.box {
    height: auto;
    position: relative;
    margin-top: 90px;
    box-sizing: border-box;
}

.fishes {
    width: 400px;
    height: 340px;
    position: absolute;
    top: 10px;
    left: 130px;
    z-index: 2;
   
}

.fish {
    width: 220px;
    height: 200px;
    z-index: 3;
    margin: 40px;
    top: 150px;
    left: 25px;
    position: absolute;
    }
.img{
    width: 170px;
    height: 200px;
    z-index: 1;
    top: 270px;
    left: 220px;
    position: absolute;
}

.about-text{
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    color: #333333;
    letter-spacing: 2px;
}
.make-text{
    font-size: 56px;
    font-family: 'Bodoni Moda', serif;
    color: #333333;
}
p{
    color: rgb(136, 132, 132);
    font-size: 16px;
    padding-top: 10px;
}
.aboutus{
    padding: 10px 30px;
    border: 1px solid;
    outline-color: none;
    font-size: 16px;
    margin-top: 8px;
}
.contact-one{
   height: 384px!important;
   box-sizing: border-box;
   margin: 40px 0 20px 0;
}
.contactBox{
    margin: 100px;
    padding: 40px;
}